@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$text-primary: #888686;
$text-secondary: #000000;
$border-light: #E2E8F0;
$primary: #3B82F6;

.page {
  background: white;
  padding: 40px;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
}

.tableHeader {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.selectionCounter {
  font-size: 16px;
  font-weight: 500;
  color: $text-primary;
  display: flex;
  align-items: center;
}


.selection { width: 50px; text-align: center; }
.title { min-width: 250px; font-weight: 500; color: $text-primary; }
.place { min-width: 160px; color: $text-secondary; }
.artist { min-width: 200px; color: $text-secondary; }
.ins { min-width: 150px; color: $text-secondary; font-size: 13px; }
.dateStart, .dateEnd { min-width: 100px; text-align: center; color: $text-secondary; font-variant-numeric: tabular-nums; }

:global {
  .p-datatable {
    .p-datatable-tbody > tr > td {
      padding: 16px 12px;
      border-bottom: 1px solid $border-light;
      color: $text-secondary;
      font-size: 14px;
    }

    .p-datatable-thead > tr > th {
      background: white;
      padding: 16px 12px;
      font-size: 12px;
      text-transform: uppercase;
      color: $text-secondary;
      font-weight: 600;
      border-bottom: 2px solid $border-light;
    }
  }

  .p-paginator {
    padding: 20px 0 0 0;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .p-paginator-current {
    color: $text-secondary;
    font-size: 16px;
    order: 1;
  }

  .p-paginator-pages {
    display: flex;
    align-items: center;
    order: 2;
  }

  .p-paginator-page,
  .p-paginator-next,
  .p-paginator-prev,
  .p-paginator-first,
  .p-paginator-last {
    min-width: 32px;
    height: 32px;
    margin: 0 4px;
    border-radius: 4px;
    border: 1px solid $border-light;
    color: $text-secondary;
    font-size: 14px;
    transition: all 0.2s;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover:not(.p-disabled) {
      background: #f1f5f9;
      color: $text-primary;
    }

    &.p-highlight {
      background: $primary;
      border-color: $primary;
      color: white;
    }

    &.p-disabled {
      opacity: 0.5;
    }
  }
  .p-paginator-rpp-options {
    display: none;
  }
}